[Unit]
Description=Refresh Mnema cluster-Pod to host network boundary

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=mnema-staging-host-boundary.service

[Install]
WantedBy=timers.target
