apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: observability
data:
  grafana.ini: |
    [server]
    domain = stats.mnema.app
    root_url = https://stats.mnema.app

    [security]
    cookie_secure = true
    cookie_samesite = lax

    [auth]
    disable_login_form = false
    oauth_auto_login = false

    [auth.anonymous]
    enabled = false

    [users]
    allow_sign_up = false

  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.observability.svc.cluster.local:9090
        isDefault: true
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki.observability.svc.cluster.local:3100
      - name: Tempo
        uid: tempo
        type: tempo
        access: proxy
        url: http://tempo.observability.svc.cluster.local:3200
        jsonData:
          httpMethod: GET
          tracesToLogs:
            datasourceUid: loki
            tags: ["service", "namespace", "pod"]
            filterByTraceID: true

  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: "mnema"
        orgId: 1
        folder: "Mnema"
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
